<h1>Profile Page for <%= @church.name %></h1>

<img>Picture: <%= @church.picture %> >
<a href=<%= @church.web_site %> >official web site </a>

<%if logged_in?%>
<%=button_to("Attend this church", user_path(current_user, churchAttend: @church.id), method: :patch ) %> 
<%end%>


<%= render 'services' %>

<p>Antendees</p>
<%= render 'attendees' %>



